In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_excel('World_development_mesurement.xlsx')
df

,Birth Rate,Business Tax Rate,CO2 Emissions,Country,Days to Start Business,Ease of Business,Energy Usage,GDP,Health Exp % GDP,Health Exp/Capita,Hours to do Tax,Infant Mortality Rate,Internet Usage,Lending Interest,Life Expectancy Female,Life Expectancy Male,Mobile Phone Usage,Number of Records,Population 0-14,Population 15-64,Population 65+,Population Total,Population Urban,Tourism Inbound,Tourism Outbound
0,0.020,NaN,87931.0,Algeria,NaN,NaN,26998.0,"$54,790,058,957",0.035,$60,NaN,0.034,0.0,0.100,71.0,67.0,0.0,1.0,0.342,0.619,0.039,31719449.0,0.599,"$102,000,000","$193,000,000"
1,0.050,NaN,9542.0,Angola,NaN,NaN,7499.0,"$9,129,594,819",0.034,$22,NaN,0.128,0.0,1.032,47.0,44.0,0.0,1.0,0.476,0.499,0.025,13924930.0,0.324,"$34,000,000","$146,000,000"
2,0.043,NaN,1617.0,Benin,NaN,NaN,1983.0,"$2,359,122,303",0.043,$15,NaN,0.090,0.0,NaN,57.0,53.0,0.0,1.0,0.454,0.517,0.029,6949366.0,0.383,"$77,000,000","$50,000,000"
3,0.027,NaN,4276.0,Botswana,NaN,NaN,1836.0,"$5,788,311,645",0.047,$152,NaN,0.054,0.0,0.155,52.0,49.0,0.1,1.0,0.383,0.587,0.029,1755375.0,0.532,"$227,000,000","$209,000,000"
4,0.046,NaN,1041.0,Burkina Faso,NaN,NaN,NaN,"$2,610,959,139",0.051,$12,NaN,0.096,0.0,NaN,52.0,49.0,0.0,1.0,0.468,0.505,0.028,11607944.0,0.178,"$23,000,000","$30,000,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2699,NaN,NaN,NaN,Turks and Caicos Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,32427.0,0.911,NaN,NaN
2700,0.013,46.4%,NaN,United States,5.0,4.0,2132446.0,"$16,244,600,000,000",0.179,"$8,895",175.0,0.006,0.8,0.033,81.0,76.0,1.0,1.0,0.196,0.667,0.136,313873685.0,0.811,"$200,092,000,000","$126,573,000,000"
2701,0.015,41.9%,NaN,Uruguay,7.0,85.0,NaN,"$50,004,354,667",0.089,"$1,308",310.0,0.010,0.5,0.112,80.0,74.0,1.5,1.0,0.220,0.639,0.140,3395253.0,0.948,"$2,222,000,000","$1,028,000,000"
2702,0.020,61.9%,NaN,"Venezuela, RB",144.0,180.0,NaN,"$381,286,223,859",0.046,$593,792.0,0.013,0.5,0.164,78.0,72.0,1.0,1.0,0.288,0.652,0.060,29954782.0,0.889,"$904,000,000","$3,202,000,000"
2703,0.011,NaN,NaN,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,NaN,83.0,76.0,NaN,1.0,0.206,0.641,0.152,105275.0,0.949,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2704 entries, 0 to 2703
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Birth Rate              2585 non-null   float64
 1   Business Tax Rate       1423 non-null   object
 2   CO2 Emissions           2125 non-null   float64
 3   Country                 2704 non-null   object
 4   Days to Start Business  1718 non-null   float64
 5   Ease of Business        185 non-null    float64
 6   Energy Usage            1785 non-null   float64
 7   GDP                     2494 non-null   object
 8   Health Exp % GDP        2395 non-null   float64
 9   Health Exp/Capita       2395 non-null   object
 10  Hours to do Tax         1416 non-null   float64
 11  Infant Mortality Rate   2444 non-null   float64
 12  Internet Usage          2531 non-null   float64
 13  Lending Interest        1880 non-null   float64
 14  Life Expectancy Female  2568 non-null   float64
 15  Life Expectancy Male    2568 non-null   float64
 16  Mobile Phone Usage      2537 non-null   float64
 17  Number of Records       2704 non-null   float64
 18  Population 0-14         2484 non-null   float64
 19  Population 15-64        2484 non-null   float64
 20  Population 65+          2484 non-null   float64
 21  Population Total        2704 non-null   float64
 22  Population Urban        2678 non-null   float64
 23  Tourism Inbound         2336 non-null   object
 24  Tourism Outbound        2233 non-null   object
dtypes: float64(19), object(6)
memory usage: 528.2+ KB

In [5]:
df['Country'].duplicated().sum()

2496

In [6]:
(df.isnull().mean().round(4) * 100)

Birth Rate                 4.40
Business Tax Rate         47.37
CO2 Emissions             21.41
Country                    0.00
Days to Start Business    36.46
Ease of Business          93.16
Energy Usage              33.99
GDP                        7.77
Health Exp % GDP          11.43
Health Exp/Capita         11.43
Hours to do Tax           47.63
Infant Mortality Rate      9.62
Internet Usage             6.40
Lending Interest          30.47
Life Expectancy Female     5.03
Life Expectancy Male       5.03
Mobile Phone Usage         6.18
Number of Records          0.00
Population 0-14            8.14
Population 15-64           8.14
Population 65+             8.14
Population Total           0.00
Population Urban           0.96
Tourism Inbound           13.61
Tourism Outbound          17.42
dtype: float64

In [7]:
import re #regular expression
import string

def clean_text(text):
    text = re.sub('[$]',' ', text)
    text = re.sub('[%]',' ', text)
    text=re.sub('[,]','',text)
    return text

clean= lambda x: clean_text(x)

In [8]:
df['GDP'] = df['GDP'].astype(str)
df['GDP'] = df['GDP'].apply(clean)
df['GDP'] = df['GDP'].astype(float)

In [9]:
df['Health Exp/Capita'] = df['Health Exp/Capita'].astype(str)
df['Tourism Inbound'] = df['Tourism Inbound'].astype(str)
df['Tourism Outbound'] = df['Tourism Outbound'].astype(str)
df['Business Tax Rate'] = df['Business Tax Rate'].astype(str)

In [10]:
df['Health Exp/Capita'] = df['Health Exp/Capita'].apply(clean)
df['Tourism Inbound'] = df['Tourism Inbound'].apply(clean)
df['Tourism Outbound'] = df['Tourism Outbound'].apply(clean)
df['Business Tax Rate'] = df['Business Tax Rate'].apply(clean)

In [11]:
df['Health Exp/Capita'] = df['Health Exp/Capita'].astype(float)
df['Tourism Inbound'] = df['Tourism Inbound'].astype(float)
df['Tourism Outbound'] = df['Tourism Outbound'].astype(float)
df['Business Tax Rate'] = df['Business Tax Rate'].astype(float)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2704 entries, 0 to 2703
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Birth Rate              2585 non-null   float64
 1   Business Tax Rate       1423 non-null   float64
 2   CO2 Emissions           2125 non-null   float64
 3   Country                 2704 non-null   object
 4   Days to Start Business  1718 non-null   float64
 5   Ease of Business        185 non-null    float64
 6   Energy Usage            1785 non-null   float64
 7   GDP                     2494 non-null   float64
 8   Health Exp % GDP        2395 non-null   float64
 9   Health Exp/Capita       2395 non-null   float64
 10  Hours to do Tax         1416 non-null   float64
 11  Infant Mortality Rate   2444 non-null   float64
 12  Internet Usage          2531 non-null   float64
 13  Lending Interest        1880 non-null   float64
 14  Life Expectancy Female  2568 non-null   float64
 15  Life Expectancy Male    2568 non-null   float64
 16  Mobile Phone Usage      2537 non-null   float64
 17  Number of Records       2704 non-null   float64
 18  Population 0-14         2484 non-null   float64
 19  Population 15-64        2484 non-null   float64
 20  Population 65+          2484 non-null   float64
 21  Population Total        2704 non-null   float64
 22  Population Urban        2678 non-null   float64
 23  Tourism Inbound         2336 non-null   float64
 24  Tourism Outbound        2233 non-null   float64
dtypes: float64(24), object(1)
memory usage: 528.2+ KB

In [13]:
df_1 = df.groupby('Country').mean()
df_1

,Birth Rate,Business Tax Rate,CO2 Emissions,Days to Start Business,Ease of Business,Energy Usage,GDP,Health Exp % GDP,Health Exp/Capita,Hours to do Tax,Infant Mortality Rate,Internet Usage,Lending Interest,Life Expectancy Female,Life Expectancy Male,Mobile Phone Usage,Number of Records,Population 0-14,Population 15-64,Population 65+,Population Total,Population Urban,Tourism Inbound,Tourism Outbound
Country,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.043154,36.3000,2375.727273,8.111111,170.0,NaN,9.718945e+09,0.091909,30.636364,275.0,0.082769,0.016667,0.159714,58.769231,56.384615,0.254545,1.0,0.490308,0.488769,0.020769,2.539926e+07,0.232923,1.060000e+08,8.240000e+07
Albania,0.014692,42.5500,3902.090909,23.000000,82.0,2024.583333,8.895522e+09,0.061462,168.846154,364.5,0.017769,0.192308,0.142385,79.230769,73.000000,0.561538,1.0,0.258385,0.653692,0.087923,2.956845e+06,0.478538,1.165231e+09,1.007077e+09
Algeria,0.022077,73.7125,102837.636364,25.000000,151.0,34042.166667,1.190391e+11,0.038462,133.846154,451.0,0.027769,0.069231,0.083231,71.615385,68.384615,0.492308,1.0,0.292692,0.663077,0.044231,3.476067e+07,0.645154,2.752308e+08,4.513077e+08
American Samoa,0.020500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.0,NaN,NaN,NaN,5.752538e+04,0.880000,NaN,NaN
Andorra,0.010583,NaN,537.636364,NaN,NaN,NaN,2.268380e+09,0.063231,2394.461538,NaN,0.003000,0.516667,NaN,NaN,NaN,0.700000,1.0,NaN,NaN,NaN,7.668408e+04,0.897462,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,0.016769,38.3375,98764.272727,43.200000,98.0,43263.750000,7.791354e+10,0.060769,51.692308,1000.5,0.023154,0.169231,0.116308,79.538462,70.076923,0.546154,1.0,0.266154,0.668538,0.065385,8.325515e+07,0.279462,3.597000e+09,1.325750e+09
Virgin Islands (U.S.),0.013000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.292308,NaN,81.769231,75.538462,0.483333,1.0,0.224769,0.661000,0.114308,1.073368e+05,0.938308,1.259091e+09,NaN
"Yemen, Rep.",0.034923,62.4750,19319.090909,41.300000,129.0,6517.833333,2.065261e+10,0.048308,49.000000,248.0,0.054769,0.053846,0.195769,63.076923,60.384615,0.215385,1.0,0.448077,0.524769,0.027231,2.066415e+07,0.295154,4.613077e+08,2.036667e+08
Zambia,0.043923,14.9500,2046.363636,26.200000,90.0,7262.250000,1.025046e+10,0.063846,52.461538,183.0,0.075692,0.038462,0.280615,49.692308,48.076923,0.207692,1.0,0.465769,0.507231,0.026846,1.190203e+07,0.370769,1.083846e+08,1.083846e+08
Zimbabwe,0.032000,41.3125,10598.090909,94.900000,168.0,9382.500000,7.176303e+09,NaN,NaN,242.5,0.058231,0.092308,1.787286,47.461538,47.615385,0.223077,1.0,0.414385,0.548385,0.037308,1.285427e+07,0.337769,3.233077e+08,NaN

In [14]:
df['Business Tax Rate'] = df['Business Tax Rate'].fillna(df.groupby('Country')['Business Tax Rate'].transform('mean'))
df

,Birth Rate,Business Tax Rate,CO2 Emissions,Country,Days to Start Business,Ease of Business,Energy Usage,GDP,Health Exp % GDP,Health Exp/Capita,Hours to do Tax,Infant Mortality Rate,Internet Usage,Lending Interest,Life Expectancy Female,Life Expectancy Male,Mobile Phone Usage,Number of Records,Population 0-14,Population 15-64,Population 65+,Population Total,Population Urban,Tourism Inbound,Tourism Outbound
0,0.020,73.7125,87931.0,Algeria,NaN,NaN,26998.0,5.479006e+10,0.035,60.0,NaN,0.034,0.0,0.100,71.0,67.0,0.0,1.0,0.342,0.619,0.039,31719449.0,0.599,1.020000e+08,1.930000e+08
1,0.050,52.1000,9542.0,Angola,NaN,NaN,7499.0,9.129595e+09,0.034,22.0,NaN,0.128,0.0,1.032,47.0,44.0,0.0,1.0,0.476,0.499,0.025,13924930.0,0.324,3.400000e+07,1.460000e+08
2,0.043,71.0875,1617.0,Benin,NaN,NaN,1983.0,2.359122e+09,0.043,15.0,NaN,0.090,0.0,NaN,57.0,53.0,0.0,1.0,0.454,0.517,0.029,6949366.0,0.383,7.700000e+07,5.000000e+07
3,0.027,18.7250,4276.0,Botswana,NaN,NaN,1836.0,5.788312e+09,0.047,152.0,NaN,0.054,0.0,0.155,52.0,49.0,0.1,1.0,0.383,0.587,0.029,1755375.0,0.532,2.270000e+08,2.090000e+08
4,0.046,45.4875,1041.0,Burkina Faso,NaN,NaN,NaN,2.610959e+09,0.051,12.0,NaN,0.096,0.0,NaN,52.0,49.0,0.0,1.0,0.468,0.505,0.028,11607944.0,0.178,2.300000e+07,3.000000e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2699,NaN,NaN,NaN,Turks and Caicos Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,32427.0,0.911,NaN,NaN
2700,0.013,46.4000,NaN,United States,5.0,4.0,2132446.0,1.624460e+13,0.179,8895.0,175.0,0.006,0.8,0.033,81.0,76.0,1.0,1.0,0.196,0.667,0.136,313873685.0,0.811,2.000920e+11,1.265730e+11
2701,0.015,41.9000,NaN,Uruguay,7.0,85.0,NaN,5.000435e+10,0.089,1308.0,310.0,0.010,0.5,0.112,80.0,74.0,1.5,1.0,0.220,0.639,0.140,3395253.0,0.948,2.222000e+09,1.028000e+09
2702,0.020,61.9000,NaN,"Venezuela, RB",144.0,180.0,NaN,3.812862e+11,0.046,593.0,792.0,0.013,0.5,0.164,78.0,72.0,1.0,1.0,0.288,0.652,0.060,29954782.0,0.889,9.040000e+08,3.202000e+09
2703,0.011,NaN,NaN,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4,NaN,83.0,76.0,NaN,1.0,0.206,0.641,0.152,105275.0,0.949,NaN,NaN

In [15]:
(df.isnull().mean().round(4) * 100)

Birth Rate                 4.40
Business Tax Rate         11.06
CO2 Emissions             21.41
Country                    0.00
Days to Start Business    36.46
Ease of Business          93.16
Energy Usage              33.99
GDP                        7.77
Health Exp % GDP          11.43
Health Exp/Capita         11.43
Hours to do Tax           47.63
Infant Mortality Rate      9.62
Internet Usage             6.40
Lending Interest          30.47
Life Expectancy Female     5.03
Life Expectancy Male       5.03
Mobile Phone Usage         6.18
Number of Records          0.00
Population 0-14            8.14
Population 15-64           8.14
Population 65+             8.14
Population Total           0.00
Population Urban           0.96
Tourism Inbound           13.61
Tourism Outbound          17.42
dtype: float64

In [16]:
df['Business Tax Rate'] = df['Business Tax Rate'].fillna(0)

In [17]:
df = df.drop(['Ease of Business'], axis=1)

In [18]:
list(df.columns)

['Birth Rate',
 'Business Tax Rate',
 'CO2 Emissions',
 'Country',
 'Days to Start Business',
 'Energy Usage',
 'GDP',
 'Health Exp % GDP',
 'Health Exp/Capita',
 'Hours to do Tax',
 'Infant Mortality Rate',
 'Internet Usage',
 'Lending Interest',
 'Life Expectancy Female',
 'Life Expectancy Male',
 'Mobile Phone Usage',
 'Number of Records',
 'Population 0-14',
 'Population 15-64',
 'Population 65+',
 'Population Total',
 'Population Urban',
 'Tourism Inbound',
 'Tourism Outbound']

In [19]:
X = df.drop('Country',axis=1)
y = df[['Country']]

In [20]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=1)
imputer.fit(X)

KNNImputer(n_neighbors=1)

In [21]:
X_imputed = imputer.transform(X)

In [22]:
list(X.columns)

['Birth Rate',
 'Business Tax Rate',
 'CO2 Emissions',
 'Days to Start Business',
 'Energy Usage',
 'GDP',
 'Health Exp % GDP',
 'Health Exp/Capita',
 'Hours to do Tax',
 'Infant Mortality Rate',
 'Internet Usage',
 'Lending Interest',
 'Life Expectancy Female',
 'Life Expectancy Male',
 'Mobile Phone Usage',
 'Number of Records',
 'Population 0-14',
 'Population 15-64',
 'Population 65+',
 'Population Total',
 'Population Urban',
 'Tourism Inbound',
 'Tourism Outbound']

In [23]:
X_imputed = pd.DataFrame(X_imputed, columns = X.columns)

In [24]:
X_imputed.isna().sum()

Birth Rate                0
Business Tax Rate         0
CO2 Emissions             0
Days to Start Business    0
Energy Usage              0
GDP                       0
Health Exp % GDP          0
Health Exp/Capita         0
Hours to do Tax           0
Infant Mortality Rate     0
Internet Usage            0
Lending Interest          0
Life Expectancy Female    0
Life Expectancy Male      0
Mobile Phone Usage        0
Number of Records         0
Population 0-14           0
Population 15-64          0
Population 65+            0
Population Total          0
Population Urban          0
Tourism Inbound           0
Tourism Outbound          0
dtype: int64

In [25]:
X_imputed

,Birth Rate,Business Tax Rate,CO2 Emissions,Days to Start Business,Energy Usage,GDP,Health Exp % GDP,Health Exp/Capita,Hours to do Tax,Infant Mortality Rate,Internet Usage,Lending Interest,Life Expectancy Female,Life Expectancy Male,Mobile Phone Usage,Number of Records,Population 0-14,Population 15-64,Population 65+,Population Total,Population Urban,Tourism Inbound,Tourism Outbound
0,0.020,73.7125,87931.0,13.0,26998.0,5.479006e+10,0.035,60.0,336.0,0.034,0.0,0.100,71.0,67.0,0.0,1.0,0.342,0.619,0.039,31719449.0,0.599,1.020000e+08,1.930000e+08
1,0.050,52.1000,9542.0,13.0,7499.0,9.129595e+09,0.034,22.0,336.0,0.128,0.0,1.032,47.0,44.0,0.0,1.0,0.476,0.499,0.025,13924930.0,0.324,3.400000e+07,1.460000e+08
2,0.043,71.0875,1617.0,40.0,1983.0,2.359122e+09,0.043,15.0,52.0,0.090,0.0,0.059,57.0,53.0,0.0,1.0,0.454,0.517,0.029,6949366.0,0.383,7.700000e+07,5.000000e+07
3,0.027,18.7250,4276.0,40.0,1836.0,5.788312e+09,0.047,152.0,52.0,0.054,0.0,0.155,52.0,49.0,0.1,1.0,0.383,0.587,0.029,1755375.0,0.532,2.270000e+08,2.090000e+08
4,0.046,45.4875,1041.0,84.0,765.0,2.610959e+09,0.051,12.0,216.0,0.096,0.0,0.059,52.0,49.0,0.0,1.0,0.468,0.505,0.028,11607944.0,0.178,2.300000e+07,3.000000e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2699,0.013,0.0000,161.0,40.0,76.0,2.671401e+09,0.033,2718.0,52.0,0.004,0.5,0.059,80.0,74.0,0.4,1.0,0.292,0.637,0.071,32427.0,0.911,4.890000e+08,1.400000e+08
2700,0.013,46.4000,91118.0,5.0,2132446.0,1.624460e+13,0.179,8895.0,175.0,0.006,0.8,0.033,81.0,76.0,1.0,1.0,0.196,0.667,0.136,313873685.0,0.811,2.000920e+11,1.265730e+11
2701,0.015,41.9000,737.0,7.0,19986.0,5.000435e+10,0.089,1308.0,310.0,0.010,0.5,0.112,80.0,74.0,1.5,1.0,0.220,0.639,0.140,3395253.0,0.948,2.222000e+09,1.028000e+09
2702,0.020,61.9000,91118.0,144.0,27086.0,3.812862e+11,0.046,593.0,792.0,0.013,0.5,0.164,78.0,72.0,1.0,1.0,0.288,0.652,0.060,29954782.0,0.889,9.040000e+08,3.202000e+09
2703,0.011,0.0000,99.0,16.0,81.0,2.558908e+08,0.120,292.0,128.0,0.035,0.4,0.140,83.0,76.0,0.3,1.0,0.206,0.641,0.152,105275.0,0.949,2.500000e+07,7.000000e+06

In [26]:
df_final = pd.concat([X_imputed, y], axis=1)

In [27]:
df_final

,Birth Rate,Business Tax Rate,CO2 Emissions,Days to Start Business,Energy Usage,GDP,Health Exp % GDP,Health Exp/Capita,Hours to do Tax,Infant Mortality Rate,Internet Usage,Lending Interest,Life Expectancy Female,Life Expectancy Male,Mobile Phone Usage,Number of Records,Population 0-14,Population 15-64,Population 65+,Population Total,Population Urban,Tourism Inbound,Tourism Outbound,Country
0,0.020,73.7125,87931.0,13.0,26998.0,5.479006e+10,0.035,60.0,336.0,0.034,0.0,0.100,71.0,67.0,0.0,1.0,0.342,0.619,0.039,31719449.0,0.599,1.020000e+08,1.930000e+08,Algeria
1,0.050,52.1000,9542.0,13.0,7499.0,9.129595e+09,0.034,22.0,336.0,0.128,0.0,1.032,47.0,44.0,0.0,1.0,0.476,0.499,0.025,13924930.0,0.324,3.400000e+07,1.460000e+08,Angola
2,0.043,71.0875,1617.0,40.0,1983.0,2.359122e+09,0.043,15.0,52.0,0.090,0.0,0.059,57.0,53.0,0.0,1.0,0.454,0.517,0.029,6949366.0,0.383,7.700000e+07,5.000000e+07,Benin
3,0.027,18.7250,4276.0,40.0,1836.0,5.788312e+09,0.047,152.0,52.0,0.054,0.0,0.155,52.0,49.0,0.1,1.0,0.383,0.587,0.029,1755375.0,0.532,2.270000e+08,2.090000e+08,Botswana
4,0.046,45.4875,1041.0,84.0,765.0,2.610959e+09,0.051,12.0,216.0,0.096,0.0,0.059,52.0,49.0,0.0,1.0,0.468,0.505,0.028,11607944.0,0.178,2.300000e+07,3.000000e+07,Burkina Faso
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2699,0.013,0.0000,161.0,40.0,76.0,2.671401e+09,0.033,2718.0,52.0,0.004,0.5,0.059,80.0,74.0,0.4,1.0,0.292,0.637,0.071,32427.0,0.911,4.890000e+08,1.400000e+08,Turks and Caicos Islands
2700,0.013,46.4000,91118.0,5.0,2132446.0,1.624460e+13,0.179,8895.0,175.0,0.006,0.8,0.033,81.0,76.0,1.0,1.0,0.196,0.667,0.136,313873685.0,0.811,2.000920e+11,1.265730e+11,United States
2701,0.015,41.9000,737.0,7.0,19986.0,5.000435e+10,0.089,1308.0,310.0,0.010,0.5,0.112,80.0,74.0,1.5,1.0,0.220,0.639,0.140,3395253.0,0.948,2.222000e+09,1.028000e+09,Uruguay
2702,0.020,61.9000,91118.0,144.0,27086.0,3.812862e+11,0.046,593.0,792.0,0.013,0.5,0.164,78.0,72.0,1.0,1.0,0.288,0.652,0.060,29954782.0,0.889,9.040000e+08,3.202000e+09,"Venezuela, RB"
2703,0.011,0.0000,99.0,16.0,81.0,2.558908e+08,0.120,292.0,128.0,0.035,0.4,0.140,83.0,76.0,0.3,1.0,0.206,0.641,0.152,105275.0,0.949,2.500000e+07,7.000000e+06,Virgin Islands (U.S.)

In [28]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2704 entries, 0 to 2703
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Birth Rate              2704 non-null   float64
 1   Business Tax Rate       2704 non-null   float64
 2   CO2 Emissions           2704 non-null   float64
 3   Days to Start Business  2704 non-null   float64
 4   Energy Usage            2704 non-null   float64
 5   GDP                     2704 non-null   float64
 6   Health Exp % GDP        2704 non-null   float64
 7   Health Exp/Capita       2704 non-null   float64
 8   Hours to do Tax         2704 non-null   float64
 9   Infant Mortality Rate   2704 non-null   float64
 10  Internet Usage          2704 non-null   float64
 11  Lending Interest        2704 non-null   float64
 12  Life Expectancy Female  2704 non-null   float64
 13  Life Expectancy Male    2704 non-null   float64
 14  Mobile Phone Usage      2704 non-null   float64
 15  Number of Records       2704 non-null   float64
 16  Population 0-14         2704 non-null   float64
 17  Population 15-64        2704 non-null   float64
 18  Population 65+          2704 non-null   float64
 19  Population Total        2704 non-null   float64
 20  Population Urban        2704 non-null   float64
 21  Tourism Inbound         2704 non-null   float64
 22  Tourism Outbound        2704 non-null   float64
 23  Country                 2704 non-null   object
dtypes: float64(23), object(1)
memory usage: 507.1+ KB

In [29]:
df_final

,Birth Rate,Business Tax Rate,CO2 Emissions,Days to Start Business,Energy Usage,GDP,Health Exp % GDP,Health Exp/Capita,Hours to do Tax,Infant Mortality Rate,Internet Usage,Lending Interest,Life Expectancy Female,Life Expectancy Male,Mobile Phone Usage,Number of Records,Population 0-14,Population 15-64,Population 65+,Population Total,Population Urban,Tourism Inbound,Tourism Outbound,Country
0,0.020,73.7125,87931.0,13.0,26998.0,5.479006e+10,0.035,60.0,336.0,0.034,0.0,0.100,71.0,67.0,0.0,1.0,0.342,0.619,0.039,31719449.0,0.599,1.020000e+08,1.930000e+08,Algeria
1,0.050,52.1000,9542.0,13.0,7499.0,9.129595e+09,0.034,22.0,336.0,0.128,0.0,1.032,47.0,44.0,0.0,1.0,0.476,0.499,0.025,13924930.0,0.324,3.400000e+07,1.460000e+08,Angola
2,0.043,71.0875,1617.0,40.0,1983.0,2.359122e+09,0.043,15.0,52.0,0.090,0.0,0.059,57.0,53.0,0.0,1.0,0.454,0.517,0.029,6949366.0,0.383,7.700000e+07,5.000000e+07,Benin
3,0.027,18.7250,4276.0,40.0,1836.0,5.788312e+09,0.047,152.0,52.0,0.054,0.0,0.155,52.0,49.0,0.1,1.0,0.383,0.587,0.029,1755375.0,0.532,2.270000e+08,2.090000e+08,Botswana
4,0.046,45.4875,1041.0,84.0,765.0,2.610959e+09,0.051,12.0,216.0,0.096,0.0,0.059,52.0,49.0,0.0,1.0,0.468,0.505,0.028,11607944.0,0.178,2.300000e+07,3.000000e+07,Burkina Faso
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2699,0.013,0.0000,161.0,40.0,76.0,2.671401e+09,0.033,2718.0,52.0,0.004,0.5,0.059,80.0,74.0,0.4,1.0,0.292,0.637,0.071,32427.0,0.911,4.890000e+08,1.400000e+08,Turks and Caicos Islands
2700,0.013,46.4000,91118.0,5.0,2132446.0,1.624460e+13,0.179,8895.0,175.0,0.006,0.8,0.033,81.0,76.0,1.0,1.0,0.196,0.667,0.136,313873685.0,0.811,2.000920e+11,1.265730e+11,United States
2701,0.015,41.9000,737.0,7.0,19986.0,5.000435e+10,0.089,1308.0,310.0,0.010,0.5,0.112,80.0,74.0,1.5,1.0,0.220,0.639,0.140,3395253.0,0.948,2.222000e+09,1.028000e+09,Uruguay
2702,0.020,61.9000,91118.0,144.0,27086.0,3.812862e+11,0.046,593.0,792.0,0.013,0.5,0.164,78.0,72.0,1.0,1.0,0.288,0.652,0.060,29954782.0,0.889,9.040000e+08,3.202000e+09,"Venezuela, RB"
2703,0.011,0.0000,99.0,16.0,81.0,2.558908e+08,0.120,292.0,128.0,0.035,0.4,0.140,83.0,76.0,0.3,1.0,0.206,0.641,0.152,105275.0,0.949,2.500000e+07,7.000000e+06,Virgin Islands (U.S.)

In [30]:
df_final.to_csv('clean_data.csv')